.container {
    height: 200px;
    position: relative;
}
.vertical-center {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 46.6%;
    -ms-transform: translateY(-50%,-50%);
    transform: translateY(-50%,-50%);
} 
.center {
    margin: 0;
    position: absolute;
    top: 10%;
    left: 43.62%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}
h3{
    margin: 0;
    position: absolute;
    top: 5%;
    left: 44.077%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}       
button {
    background-color: blue; 
    border: 2px solid;
    color: black;
    cursor: pointer;
    padding: 14px 17px;
    text-align: center;
    text-decoration: none;
    outline: none;
    display: inline-block;
    font-size: 20px;
    border-radius:65px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

button:hover {
    background-color:aqua;
    border: 3.5px solid aquamarine;
    color: black;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

button:active {
    background-color: #3e8e41;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}